<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>
    <th:block th:include="head :: head"/>
</head>
<body style="background: linear-gradient(-55deg, #f2f4f8 0%, #e7eaf0 100%);">
<div th:replace="menu :: menu"></div>
<div id="content" class="container">
    <th:block th:if="${identifier.workflowStage == T(com.okta.spring.example.models.RegisteringUser.WorkflowStage).prereg}">
        <h2>Welcome</h2>
        <p>Let's see if you already have an account with us.</p>
        <form action="#" th:action="@{/register}" th:object="${identifier}" method="post">
            <p><input class="form-control mb-2 mr-sm-2" required="required" type="text" th:field="*{userIdentifier}" placeholder="email, phone"/></p>
            <p><input type="submit" class="btn btn-primary mb-2" value="Next" /> </p>
        </form>
    </th:block>


    <th:block th:if="${identifier.workflowStage == T(com.okta.spring.example.models.RegisteringUser.WorkflowStage).enroll}">
        <h2>Choose a password</h2>
        <p>Create a password for your new account</p>
        <form action="#" th:action="@{/register}" th:object="${identifier}" method="post">
            <input type="hidden" th:field="*{workflowStage}"/>
            <input type="hidden" th:field="*{userIdentifier}" placeholder="email, phone"/>
            <th:block th:if="${identifier.email == null}">
                <p><input class="form-control mb-2 mr-sm-2" id="contactSet" type="email" th:field="*{email}" placeholder="contact email"></p>
            </th:block>
            <th:block th:if="${identifier.email != null}">
                <p><input class="form-control mb-2 mr-sm-2" id="contactShow" type="email" th:field="*{email}" placeholder="contact email"></p>
            </th:block>
            <p><input class="form-control mb-2 mr-sm-2" id="password" th:field="*{password}" name="password" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password" required></p>
            <p><input class="form-control mb-2 mr-sm-2" id="password_two" name="password_two" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" required></p>
            <p><input class="btn btn-primary mb-2" type="submit" value="Next" /> </p>
        </form>
    </th:block>

    <th:block th:if="${identifier.workflowStage == T(com.okta.spring.example.models.RegisteringUser.WorkflowStage).verify}">
        <h2>Verify your email address</h2>
        <p>Please check you email at <b th:text="${identifier.email}"></b> for a verification code. Once you have received it please enter it below.</p>
        <form action="#" th:action="@{/register}" th:object="${identifier}" method="post">
            <input type="hidden" th:field="*{workflowStage}"/>
            <input type="hidden" th:field="*{userIdentifier}"/>
            <input class="form-control mb-2 mr-sm-2" type="text" th:field="*{verificationCode}">
            <p><input class="btn btn-primary mb-2" type="submit" value="Next" /> </p>
        </form>
    </th:block>
    <th:block th:if="${identifier.workflowStage == T(com.okta.spring.example.models.RegisteringUser.WorkflowStage).welcome}">
        <h2>Welcome to Cengage</h2>
        <p>Your account has been successfully created. Please login to complete your profile.</p>
        <form action="/login">
            <input class="btn btn-primary mb-2" type="submit" value="Login" />
        </form>
    </th:block>
</div>
</body>
</html>